html {
  @media (max-width: 767px) {
    font-size: 12px;
  }

  @media (max-width: 1023px) {
    font-size: 14px;
  }

  @media (max-width: 1440px) {
    font-size: 16px;
  }
}

@theme {
  --color-yellow-400: rgba(255, 195, 0, 1);
  --color-purple-400: rgba(138, 43, 226, 1);
  --color-orange-400: rgba(255, 87, 34, 1);
  --color-black-50: rgba(0, 0, 0, 0.5);
  --color-magnifying-glass: #c73c45;
  --color-geo: #6d86c6;
  --color-ruler: #f4c542;
  --color-circle: #27ae60;
  --color-hexagon: #ea5c78;

  --shadow-filter: 0px 0px 5px 7px rgba(0, 0, 0, 0.2);
}
