html {
  @media (max-width: 767px) {
    font-size: 12px;
  }

  @media (max-width: 1023px) {
    font-size: 14px;
  }

  @media(max-width: 1440px) {
    font-size: 16px;
  }

}

@theme {
  --color-yellow-400: rgba(255, 195, 0, 1);
  --color-purple-400: rgba(138, 43, 226, 1);
  --color-orange-400: rgba(255, 87, 34, 1);
}
