@import "tailwindcss";
@import "./config.css";

@layer utilities {
  .filter {
    @apply rounded-xl shadow-filter;
  }
  .h2 {
    @apply md:text-2xl text-base font-bold text-center;
  }

  .h3 {
    @apply md:text-xl text-base;
  }

  .text {
    @apply md:text-lg text-sm;
  }

  .ul {
    @apply absolute z-10 md:max-h-72 max-h-56 w-full bg-white transition-opacity duration-100 overflow-y-auto;
  }
  .border-top {
    @apply border-l-2 border-r-2 border-t-2 border-black;
  }
  .border-bottom {
    @apply opacity-100 border-l-2 border-r-2 border-b-2 border-black;
  }

  .li {
    @apply p-1 cursor-pointer;
  }

  .li-color {
    @apply bg-blue-500 text-white;
  }

  .icon {
    display: flex !important;
    align-items: center;
  }

  .label {
    @apply flex gap-1 font-semibold;
  }

  .input {
    @apply focus:outline-none;
  }

  .input-stepper {
    @apply p-2 border-2 border-black rounded-2xl;
  }

  .filter-section {
    @apply w-full flex flex-col justify-center gap-4;
  }

  .area-container {
    @apply flex flex-col items-center gap-2;
  }

  .input-button {
    @apply px-1.5 flex items-center justify-center text-sm border-2 border-black rounded-sm cursor-pointer;
  }
  .button-territoire {
    @apply flex justify-between items-center gap-2;
  }

  .button-territoire-active {
    @apply cursor-pointer;
  }

  .button-territoire-inactive {
    @apply bg-gray-400;
  }

  .toolType-content {
    @apply flex flex-col gap-2 text-base;
  }
  .toolType-title {
    @apply w-11/12 mx-auto mb-2 text-center text-lg font-extrabold;
  }
  .toolType-info {
    @apply flex gap-1.5;
  }

  .toolType-sbTitle {
    @apply font-semibold;
  }
}

.bounce-1,
.bounce-2,
.bounce-3 {
  animation: bounce-custom 1s linear infinite;
}

.bounce-1 {
  animation-delay: 0s;
}

.bounce-2 {
  animation-delay: 0.2s;
}

.bounce-3 {
  animation-delay: 0.4s;
}

@keyframes bounce-custom {
  0%,
  100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(-12px);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.marker-cluster-small,
.marker-cluster-medium,
.marker-cluster-large {
  width: auto !important;
  height: auto !important;
  border-radius: 50%;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marker-cluster-small {
  background-color: rgba(255, 195, 0, 1);
  color: white;
}

.marker-cluster-medium {
  background-color: rgba(138, 43, 226, 1);
  color: white;
}

.marker-cluster-large {
  background-color: rgba(255, 87, 34, 1);
  color: white;
}

.marker-cluster-small div,
.marker-cluster-medium div,
.marker-cluster-large div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: transparent;
  font-weight: 700;
  font-size: 1.125rem;
}

.leaflet-popup-content p,
a {
  margin: 0;
}

.leaflet-popup-close-button {
  top: 5px !important;
  right: 5px !important;
}

.leaflet-popup-close-button span {
  font-size: 1.5rem;
}

datalist {
  display: flex;
  justify-content: space-between;
  writing-mode:horizontal-tb;
  width: 200px;
}

option {
  padding: 0;
}

input[type="range"] {
  width: 200px;
  margin: 0;
}