@import "tailwindcss";
@import "./config.css";

@layer utilities {
  .ul {
    @apply absolute top-14 z-10 max-h-80 w-full bg-white text-xl border-l-2 border-b-2 border-r-2 border-black overflow-y-auto;
  }

  .li {
    @apply p-1 cursor-pointer;
  }

  .li-color {
    @apply bg-blue-500 text-white;
  }

  .input {
    @apply text-xl focus:outline-none;
  }

  .input-stepper {
    @apply p-2 border-2 border-black rounded-2xl;
  }

  .area-container {
    @apply flex flex-col items-center gap-2;
  }

  .area-container-p {
    @apply text-xl font-semibold;
  }

  .input-button{
    @apply px-1.5 flex items-center justify-center text-sm border-2 border-black rounded-sm cursor-pointer;
  }
  .button-territoire {
    @apply flex justify-between items-center ;
  }

  .button-territoire-active {
    @apply cursor-pointer;
  }

  .button-territoire-inactive {
    @apply bg-gray-400;
  }

  .toolType-content {
    @apply flex flex-col gap-2 text-base;
  }
  .toolType-title {
    @apply w-11/12 mx-auto mb-2 text-center text-lg font-extrabold;
  }
  .toolType-info {
    @apply flex gap-1.5;
  }

  .toolType-sbTitle {
    @apply font-semibold;
  }
}

.bounce-1,
.bounce-2,
.bounce-3 {
  animation: bounce-custom 1s linear infinite;
}

.bounce-1 {
  animation-delay: 0s;
}

.bounce-2 {
  animation-delay: 0.2s;
}

.bounce-3 {
  animation-delay: 0.4s;
}

@keyframes bounce-custom {
  0%,
  100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(-12px);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.marker-cluster-small,
.marker-cluster-medium,
.marker-cluster-large {
  width: auto !important;
  height: auto !important;
  border-radius: 50%;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marker-cluster-small {
  background-color: rgba(255, 195, 0, 1);
  color: white;
}

.marker-cluster-medium {
  background-color: rgba(138, 43, 226, 1);
  color: white;
}

.marker-cluster-large {
  background-color: rgba(255, 87, 34, 1);
  color: white;
}

.marker-cluster-small div,
.marker-cluster-medium div,
.marker-cluster-large div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: transparent;
  font-weight: 700;
  font-size: 1.125rem;
}

.leaflet-popup-content p,
a {
  margin: 0;
}

.leaflet-popup-close-button {
  top: 5px !important;
  right: 5px !important;
}

.leaflet-popup-close-button span {
  font-size: 1.5rem;
}